@charset "UTF-8";
h2{
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 1.5em;
	background: black;
	color: white;
}
#content{
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	font-size: 1em;
	border-radius: 30px;
	font-weight: bold;
	

}
#footer{
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	
}
button{
	background: black;
	color: white;
	border-radius: 30px;
	font-weight: bold;
	font-size: 1.1em;

}

table{
	border: 1px solid black;
	width:100%;
	margin: 0 auto;
}
tr th{
	background: black;
	color: white;
}
select{
	width: 60px;
	height: 40px;
}